:root {
  --primary-color: #3D8AF8;
  --secondary-color: #3D8AF8;
  --bg-color: #F7F7F7;
  --hover-color: #021F48;
}
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color:var(--bg-color);
  height: 200vh;
  position: relative;
}
body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
body.offcanvas-menu:before {
  opacity: 1;
  visibility: visible;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

/* config de butões */
.btn {
  padding-left: 0;
}

.btn a {
  background: var(--primary-color) !important;
  color: #fff !important;
  border-radius: 24px !important;
  padding: 12px 24px;
}

.btn a:hover {
  background: var(--hover-color) !important;
}


/* HOME */

#home {
  height: 58vh;
  width: 100%;
  margin-top: 60px;
}
#home h1 {
  color: black;
  font-weight: 600;
  font-size: 54px;
  line-height: 80px;
}
#home h1 a {
  color: var(--primary-color);
}
#home {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}
.home_text{
  margin-top: 60px;
}
#home img {
  
}
/* banners */

#banner-1,
#banner-2,
#banner-3,
#banner-4 {
  margin: 160px auto;
}


#banner-1 h2,
#banner-2 h2,
#banner-3 h2,
#banner-4 h2 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}
#banner-1 p,
#banner-2 p,
#banner-3 p,
#banner-4 p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

#mobile_app {
  background: var(--primary-color);
  height: 587px;
  color: #F7F7F7;
}
/* equipe */
#equipe {
  padding-top: 80px;
}
#equipe h2 {
  color: var(--primary-color);
}
#equipe .p {
  width: 375px;
}

/* mobile app */
#mobile_app div{
  padding-block: 30px;
}

#mobile_app div{
  width: 800px;
}
#mobile_app .text{
  width: 485px;
  height: 296px;
  padding-left: 40px;
}

/* contact */
#contact{
  margin: 160px auto;
  color: #F7F7F7;
}
#contact .card {
  background: var(--primary-color);
  width: 1127.49px;
  height: 537.38px;
  margin: auto;
  border-radius: 20px;
  --bs-card-border-width: none;
  --bs-card-border-color: none;
}
#contact .text {
  margin-top: 110px;
  margin-left: 60px;
  width: 541px;
  height: 250px;
}
#contact .img {
  
}

footer{
  background: var(--primary-color);
  height: 333px;
  padding: 60px 0;
  color: #F7F7F7;
}

footer .grid p {
  margin-bottom: 4px;
}